# Imposta il comportamento di default, nel caso in cui le persone non abbiano core.autocrlf impostato.
* text=auto

# Dichiarare esplicitamente i file di testo che si desidera siano sempre normalizzati e convertiti
# in caratteri di fine riga nativi al checkout.
*.c text
*.h text

# Dichiarare i file che avranno sempre i caratteri di fine riga CRLF al checkout.
*.sln text eol=crlf

# Denotare tutti i file che sono veramente binari e non devono essere modificati.
*.png binary
*.jpg binary
